body {
    padding-top: 45px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin a {
    color: #FEFEFE;
    text-decoration: none;
}
