{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <header class="page-header text-center">
            <h2>VK online friends</h2>
        </header>

        <article class="content text-center">
            <h3>
                About this web site.
            </h3>
            <p>
                This site can help you to track your or somebody else's online friends. 
            </p>
            <p>
                <a href="https://github.com/hell03end/vk-online-friends"><strong>GitHub repo</strong></a>
            </p>
            <br/>
            <p class="text-muted">
                made by <a href="https://t.me/hell03end">hell03end</a>
            </p>
        </article>
    </div>
{% endblock %}
