<!DOCTYPE html>
<html lang="ru">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="site, which helps you to watch your online-friends" name="description">
    <meta content="hell03end" name="author">

    <title>
        {% if title %} {{title}} {% else %} blank page {% endif %}
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <!-- manual -->
    <link href="../static/css/base.css" rel="stylesheet"> {% block styles %} {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    VK online friends
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="about-button" href="{{ url_for('about') }}">
                            About
                        </a>
                    </li>
                    <li>
                        {% if auth_session %}
                        <a id="logout-button" href="{{ url_for('logout') }}">Log out</a>
                        {% else %}
                        <a id="login-button" href="{{ url_for('login') }}">Log in</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container lead">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Warning</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for message in messages %}
                    <li class="list-group-item"> {{ message }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %} {% endwith %} {% block content %} {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <ul class="list-inline">
                    {% if footer_links %} {% for link in footer_links %}
                    <div class="col-md-{{ 12//links_amount }} col-xs-{{ 12//links_amount }} col-sm-{{ 12//links_amount }} text-center">
                        <li>
                            <a href="{{ link.url }}">{{ link.name }}</a>
                        </li>
                    </div>
                    {% endfor %} {% endif %}
                </ul>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
