{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <header class="page-header text-center">
            <h2>
                You login as {{ user.first_name }} {{ user.last_name }}.
            </h2>
        </header>
        <div class="container">
            <form action="" method="post" name="user_id" class="form-user-id">
                {{ form.hidden_tag() }}
                <h3 class="form-signin-heading text-center">Enter if of user,
                    to watch his online friends</h3>
                {% with errors = form.user_id.errors %}
                    {% if errors %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">Error</h3>
                            </div>
                            <div class="panel-body text-center">
                                <ul class="list-inline">
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
                <label class="sr-only" for="user_id">UserId</label>
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        {{ form.user_id(class="form-control", placeholder="user id (default: current user)") }}
                    </div>
                    <div class="col-md-4">
                        <input class="btn btn-lg btn-primary btn-block"
                               type="submit" value="Find">
                    </div>
                </div>
            </form>
        </div>
        <br/>
        <div class="container text-center">
            {% if not online_friends %}
                <p class="alert alert-info">
                    No online friends.
                </p>
            {% else %}
                <p class="alert alert-success">
                    {{ friends_amount }} friends online.
                    <br/>
                    Here they are.
                </p>
                <div class="row">
                    {% for friend in online_friends %}
                        <div class="col-md-3 col-xs-6 col-sm-4">
                            <a target="_blank" href="https://vk.com/id{{ friend.id }}">
                                <img class="img-circle" src="{{ friend.photo_100 }}" alt="Generic placeholder image" width="100" height="100">
                                <p> {{ friend.first_name }} {{ friend.last_name }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
