{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block content %}
    <header class="page-header text-center">
        <h2>Log in with vk</h2>
    </header>
    <div class="form-signin">
        <h3 class="form-signin-heading text-center">
            First, You should be authorized with vk. Log in to proceed.
        </h3>
        <a href="{{ login_url }}"><button class="btn btn-lg btn-primary btn-block">Log In</button></a>
    </div>
{% endblock %}